<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>アーティスト一覧</title>
</head>
<body>
  <h2>アーティスト一覧</h2>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>アーティスト名</th>
    </tr>
    <% data.forEach(function(row) { %>
      <tr id="artist<%= row.id %>">
        <td><%= row.id %></td>
        <td>
          <% if (row.id === 1) { %>
            <a href="/artist/<%= row.id %>"><%= row.artist_name %></a> <!-- バンディーのリンク -->
          <% } else { %>
            <a href="/artist/<%= row.id %>"><%= row.artist_name %></a> <!-- その他のアーティストのリンク -->
          <% } %>
        </td>
      </tr>
    <% }); %>
  </table>
</body>
</html>


