<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>都道府県ごとの人口</h2>
  <table>
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></td>
            <td><%= row.都道府県 %></td>
            <td><%= row.人口 %></td>
        </tr>
      <% } %>
  </table>
</body>
<body>
    <h2>車の車種</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Car Name</th>
            <th>Maker Name</th>
        </tr>
        <% data.forEach(function(row) { %>
            <tr>
                <td><%= row.id %></td>
                <td><%= row.car_name %></td>
                <td><%= row.maker_name %></td>
            </tr>
        <% }); %>
    </table>
</body>
<body>
    <h2>STPRメンバー</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Menber Name</th>
        </tr>
        <% data.forEach(function(row) { %>
            <tr>
                <td><%= row.id %></td>
                <td><%= row.stpr_name %></td>
                <td><%= row.man_name %></td>
            </tr>
        <% }); %>
    </table>
    </body>
</html>
