<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Song List</title>
   <style>
    body {
      background-color: #000000;
      color: #ffffff;
      font-family: Arial, sans-serif;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ffffff;
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: #333333;
    }
    tr:nth-child(even) {
      background-color: ##333333;
    }
    a {
      color: #ff0000;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <h2>曲名　一覧</h2>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>曲名</th>
    </tr>
    <% data.forEach(function(row) { %>
      <tr id="song<%= row.id %>">
        <td><%= row.id %></td>
        <% if (row.id === 1) { %> <!-- IDが1の場合のリンク -->
          <td><a href="https://vaundy.jp/news/detail/3004" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 2) { %> <!-- IDが2の場合のリンク -->
          <td><a href="https://vaundy.jp/news/detail/10301" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 3) { %> <!-- IDが3の場合のリンク -->
          <td><a href="https://vaundy.jp/news/detail/10248" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 4) { %> <!-- IDが4の場合のリンク -->
          <td><a href="https://vaundy.jp/news/detail/10074" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 5) { %> <!-- IDが5の場合のリンク -->
          <td><a href="https://blueencount.jp/news/detail/2620" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 6) { %> <!-- IDが6の場合のリンク -->
          <td><a href="https://blueencount.jp/news/detail/2610" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 7) { %> <!-- IDが7の場合のリンク -->
          <td><a href="https://blueencount.jp/news/detail/3921" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 8) { %> <!-- IDが8の場合のリンク -->
          <td><a href="https://vaundy.jp/news/detail/1392" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 9) { %> <!-- IDが9の場合のリンク -->
          <td><a href="https://blueencount.jp/news/detail/2926" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 10) { %> <!-- IDが10の場合のリンク -->
          <td><a href="https://blueencount.jp/news/detail/2802" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 11) { %> <!-- IDが11の場合のリンク -->
          <td><a href="https://wurts.jp/music/ep/108/" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 12) { %> <!-- IDが12の場合のリンク -->
          <td><a href="https://wurts.jp/music/music-other/417/" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 13) { %> <!-- IDが13の場合のリンク -->
          <td><a href="https://wurts.jp/music/single/117/" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 14) { %> <!-- IDが14の場合のリンク -->
          <td><a href="https://wurts.jp/music/album/114/" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 15) { %> <!-- IDが15の場合のリンク -->
          <td><a href="https://wurts.jp/music/single/120/" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 16) { %> <!-- IDが16の場合のリンク -->
          <td><a href="https://wacci.jp/music/%e5%88%a5%e3%81%ae%e4%ba%ba%e3%81%ae%e5%bd%bc%e5%a5%b3%e3%81%ab%e3%81%aa%e3%81%a3%e3%81%9f%e3%82%88/" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 17) { %> <!-- IDが17の場合のリンク -->
          <td><a href="https://wacci.jp/music/%e5%a4%a7%e4%b8%88%e5%a4%ab%ef%bc%88%e9%80%9a%e5%b8%b8%e7%9b%a4%ef%bc%89/" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 18) { %> <!-- IDが18の場合のリンク -->
          <td><a href="https://wacci.jp/music/%e6%84%9f%e6%83%85%e7%99%be%e6%99%af%ef%bc%88%e9%80%9a%e5%b8%b8%e7%9b%a4%ef%bc%89/" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 19) { %> <!-- IDが19の場合のリンク -->
          <td><a href="https://wacci.jp/music/%e6%84%9b%e3%81%af%e8%96%ac%ef%bc%88%e9%80%9a%e5%b8%b8%e7%9b%a4%ef%bc%89/" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 20) { %> <!-- IDが20の場合のリンク -->
          <td><a href="https://wacci.jp/music/%e6%84%9f%e6%83%85%e7%99%be%e6%99%af%ef%bc%88%e9%80%9a%e5%b8%b8%e7%9b%a4%ef%bc%89/" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 21) { %> <!-- IDが21の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=8OZDgBmehbA" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 22) { %> <!-- IDが22の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=45Ft2gmvgPg&pp=ygUJ55yg44KK5aer" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 23) { %> <!-- IDが23の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=Mi9uNu35Gmk" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 24) { %> <!-- IDが24の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=gsVGf1T2Hfs" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 25) { %> <!-- IDが25の場合のリンク -->
          <td><a href="https://youtu.be/od8CNHDkIJA" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 26) { %> <!-- IDが26の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=m34DPnRUfMU&pp=ygUJ44Of44K744K5" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 27) { %> <!-- IDが27の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=rWsiVWlvw2E" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 28) { %> <!-- IDが28の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=x2rvSf0STBM&pp=ygUJ44Of44K744K5" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 29) { %> <!-- IDが29の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=Jy-QS27q7lA&pp=ygUJ44Of44K744K5" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 30) { %> <!-- IDが30の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=RiDCIqF0-6Y&pp=ygUJ44Of44K744K5" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 31) { %> <!-- IDが31の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=F3tnfgZhJME" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 32) { %> <!-- IDが32の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=R4xgeGinzUY" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 33) { %> <!-- IDが33の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=ZPjzVpS_R30" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 34) { %> <!-- IDが34の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=QlUVCG3YmCs" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 35) { %> <!-- IDが35の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=MyUUHpjMBvk&pp=ygUe44KI44Gr44GS44CA44OQ44Kk44Oe44Kk44K144Kk" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 36) { %> <!-- IDが36の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=aqoeNOw4_uQ" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 37) { %> <!-- IDが37の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=IMU0ctb7E60" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 38) { %> <!-- IDが38の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=DG2f4Iywll0" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 39) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=CZd6s56uIJw" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 40) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=vpVfhe0kd7w" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 41) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=0xSiBpUdW4E&pp=ygUP44GC44GE44G_44KH44KT" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 42) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=9qRCARM_LfE&pp=ygUP44GC44GE44G_44KH44KT" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 43) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=ARwVe1MYAUA&pp=ygUP44GC44GE44G_44KH44KT" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 44) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=yOAwvRmVIyo&pp=ygUP44GC44GE44G_44KH44KT" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 45) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=ObCzNAw7dgc&pp=ygUP44GC44GE44G_44KH44KT" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 46) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=j4XsCJHfplg" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 47) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=qA48VwUeJ2M" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 48) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=2oa9chta4n4&pp=ygUXa3VyaS1wdWhhaXB1IHJhYnVob3RlcnU%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 49) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=7cCL0owFBqk&pp=ygVB44Kv44Oq44O844OX44OP44Kk44OXIOOCpOODjuODgeODn-OCuOOCq-OCt-OCs-OCpOOCu-ODqOOCquODiOODoSA%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 50) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=byBlNvY36EE&list=PLG9OaiORqvWuIcME8XTZBEfDzXNGr2_9z&index=8&pp=iAQB8AUB" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 51) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=6PimzF04UMQ" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 52) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=L3P0LgwuPPo" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 53) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=fOUfYU2NEJU" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 54) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=i1JoZnFQI1Y" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 55) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=OpVwmSuCheA" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 56) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=IVbY5edMfCA" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 57) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=agQ23NdBROY" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 58) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=WObVzphoLTY" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 59) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=U8pJgoOhiDs" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 60) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=0lASG1aB5lE" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 61) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=TcLLpZBWsck" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 62) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=dawrQnvwMTY" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 63) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=Nt6ZwuVzOS4" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 64) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=NwOvu-j_WjY" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 65) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=vkPfKnUaq5k" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 66) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=gt-v_YCkaMY" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 67) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=0Y8e0LJf0i0" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 68) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=pgXpM4l_MwI" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 69) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=YnSW8ian29w" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 70) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=cyq5-StPISU" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 71) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=SII-S-zCg-c" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 72) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=meZPD28Y7xE" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 73) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=iqEr3P78fz8" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 74) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=T8y_RsF4TSw" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 75) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=VPZK72W4Xxw" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 76) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=f_UEaojznsg" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 77) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=nkPdMQCizIQ" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 78) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=7WbTTtACE2U" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 79) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=Yo83M-KOc7k" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 80) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=nS32IXrNgfw" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 81) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=DSZUUnaeWFQ" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 82) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=qag4ewos4TE" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 83) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=ZLEb2ffqgmI&pp=ygUTV0FOSU1BIOOBhOOBhOOBi-OCiQ%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 84) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=eIja9BI_h9U&pp=ygUZV0FOSU1BIOOChOOBo-OBpuOBv-OCiOOBhg%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 85) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=KYFyDUNhp74&pp=ygUZV0FOSU1BIOODr-ODs-ODgeODo-ODs-OCuQ%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 86) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=1tk1pqwrOys" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 87) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=2eOg5DoYuwU" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 88) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=OskXF3s0UT8" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 89) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=dJf4wCdLU18" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 90) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=GMPjNA_fCj4" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 91) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=PDSkFeMVNFs" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 92) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=R1vmfVpINbk" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 93) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=GNYdh5k2VDk&pp=ygUhcmFkd2ltcHMg44K744OX44OG44Oz44OQ44O844GV44KT" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 94) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=a2GujJZfXpg" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 95) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=gkOWPlW-Tb8" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 96) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=6OC92oxs4gA" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 97) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=GJI4Gv7NbmE" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 98) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=Atvsg_zogxo" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 99) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=BVvvUGP0MFw" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 100) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=4QePrv24TBU" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 101) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=C-o8pTi6vd8" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 102) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=WGot2jAViWY" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 103) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=L9IMylF6Zc0" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 104) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=LqIbaicDP7A" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 105) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=JffVvYhA54w" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 106) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=ZRtdQ81jPUQ" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 107) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=x8VYWazR5mE" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 108) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=Y4nEEZwckuU" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 109) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=dy90tA3TT1c" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 110) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=OIBODIPC_8Y" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 111) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=kzZ6KXDM1RI" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 112) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=EZ5RGA2UULE" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 113) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=9qfPF4fpiHE" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 114) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=cbqvxDTLMps" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 115) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=Nv3T2_PqrpM" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 116) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=CbH2F0kXgTY" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 117) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=mKk6o3ZkubA" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 118) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=O1bhZgkC4Gw" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 119) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=hN5MBlGv2Ac" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 120) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=TQ8WlA2GXbk" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 121) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=p6oVXuLsbxM" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 122) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=Z_fz6oeeG1M" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 123) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=3ad4NsEy1tg" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 124) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=phwvj0_XM4k" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 125) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=stLSX-pTdsI" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 126) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=cIuYFCAJ2a8&pp=ygUGYmlnZ2lu" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 127) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=yOb9Xaug35M" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 128) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=Ex037JX3-BI" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 129) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=XrsbfrFPATs" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 130) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=Z8NiouNEivo" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 131) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=VbfpW0pbvaU" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 132) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=dT2owtxkU8k" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 133) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=oTJ-oqwxdZY" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 134) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=fHeQemJJQII" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 135) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=SAWzXkV3hHo" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 136) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=09R8_2nJtjg" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 137) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=SlPhMPnQ58k" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 138) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=fwK7ggA3-bU" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 139) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=KRaWnd3LJfs" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 140) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=NmugSMBh_iI" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 141) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=fRh_vgS2dFE" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 142) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=DK_0jXPuIr0" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 143) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=kffacxfA7G4" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 144) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=oyEuk8j8imI" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 145) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=Fp8msa5uYsc" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 146) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=-BjZmE2gtdo&pp=ygUFbG92ZXI%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 147) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=AgFeZr5ptV8" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 148) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=e-ORhEE9VVg" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 149) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=nfWlot6h_JM" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 150) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=wIft-t-MQuE" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 151) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=JGwWNGJdvx8" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 152) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=Il0S8BoucSA&pp=ygUSc2hpdmVycyBlZCBzaGVlcmFu" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 153) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=Il0S8BoucSA" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 154) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=87gWaABqGYs" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 155) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=8TpcBDJZsJA" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 156) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=pRpeEdMmmQ0" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 157) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=DUT5rEU6pqM" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 158) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=weRHyjj34ZE" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 159) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=7-7knsP2n5w" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 160) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=SHnDwYgGKkY&pp=ygUIUHVidGVyaWE%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 161) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=CevxZvSJLk8" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 162) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=kTHNpusq654" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 163) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=YrbgUtCfnC0" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 164) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=ozv4q2ov3Mk&pp=ygUQZmVlbHMga2F0eSBwZXJyeQ%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 165) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=98WtmW-lfeE" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 166) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=YVkUvmDQ3HY" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 167) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=3qFvCPmee8U" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 168) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=XbGs_qK2PQA" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 169) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=uelHwf8o7_U" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 170) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=gXH7_XaGuPc" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 171) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=IcrbM1l_BoI" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 172) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=u8tdT5pAE34&pp=ygUDU09T" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 173) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=fTYhYsG9e20" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 174) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=UtF6Jej8yb4" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 175) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=fqzhtvLWefA" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 176) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=HIgvP7B3Hg8&pp=ygUMUnVuYXdheSBCYWJ5" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 177) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=LjhCEhWiKXk" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 178) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=dElRVQFqj-k" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 179) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=UqyT8IEBkvY" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 180) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=fLexgOxsZu0" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 181) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=sKlA0A3ufpc" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 182) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=kJQP7kiw5Fk" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 183) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=96Nk_7mu9aM&pp=ygUJbGEgcm9tYW5v" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 184) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=NOebfEFJW6Y&pp=ygUEcm9tYQ%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 185) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=ridGylKQ0WY&pp=ygUFdGFudG8%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 186) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=OM5cVB81aT8" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 187) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=TBXQu8ORnBQ" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 188) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=3AtDnEC4zak" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 189) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=WFsAon_TWPQ" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 190) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=RgKAFK5djSk&pp=ygUNc2VlIHlvdSBhZ2Fpbg%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 191) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=nmcdLOjGVzw&pp=ygUMUG9wdWxhciBTb25n" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 192) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=_sV0S8qWSy0&pp=ygUHdGhlIHdheQ%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 193) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=piiLZJNKRVM&pp=ygUKZGF5ZHJlYW1pbg%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 194) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=BPgEgaPk62M" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 195) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=L8eRzOYhLuw" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 196) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=p47fEXGabaY" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 197) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=5ihtX86JzmA&pp=ygUJU2hlIEJhbmdz" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 198) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=8BkYKwHLXiU&pp=ygUSTGEgQ29wYSBkZSBsYSBWaWRh" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 199) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=lBztnahrOFw&pp=ygUMTGEgbW9yZGlkaXRh" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 200) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=vCEvCXuglqo&pp=ygUSbWFyaWEgcmlja3kgbWFydGlu" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 201) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=H7HmzwI67ec&pp=ygUKZ29vZCB0YWltZQ%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 202) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=fWNaR-rxAic" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 203) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=vT0NhBnp7TE&pp=ygUbYmVhdXRpZnVsIGNhcmx5IHJhZSBqZXBzZW4g" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 204) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=NxU0CvaNmMA&pp=ygUKVHVybiBNZSBVcA%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 205) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=Vf78alvpxRM" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 206) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=UWLr2va3hu0&pp=ygUGaGF5IG1h" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 207) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=hHUbLv4ThOo&pp=ygUGdGltYmVy" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 208) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=bTXJQ5ql5Fw" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 209) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=CdXesX6mYUE" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 210) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=t4H_Zoh7G5A&pp=ygUMT24gdGhlIEZsb29y" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 211) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=X6wQOW9ihDA&pp=ygUGSGV5IERK" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 212) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=XIO33DAuoR0&pp=ygULTXkgQm9vIGNuY28%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 213) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=ipBVXuEd3r8" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 214) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=M7j3J1sTDFc&pp=ygULbWUgbmVjZXNpdGE%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 215) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=y3QQvajXWUk" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 216) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=BQ0mxQXmLsk&pp=ygUGSGF2YW5h" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 217) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=3NcL3yUK4S0" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 218) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=rDG-6Ue_Qbw" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 219) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=spJR_ynZF0Y&pp=ygUKSE9UIFVQVE9XTg%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 220) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=IbZuJgVw59c&pp=ygUISEUgS05PV1M%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 221) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=weeI1G46q0o&pp=ygUKJ20gdGhlIE9uZQ%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 222) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=kxloC1MKTpg&pp=ygUKTm8gQnJhaW5lcg%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 223) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=_xGhK6qgPtM&pp=ygUNMwlEbyBZb3UgTWluZA%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 224) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=uzaQ37EYJ1k&pp=ygUHSnVzdCBVcw%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 225) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=Dl37B3zlJ30&pp=ygUHSmVhbG91cw%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 226) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=KgUTfZTv-OY&pp=ygULaG9sYSBtYXJ1bm8%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 227) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=pK060iUFWXg&pp=ygUNaGF3YWlpIG1hbHVtYQ%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 228) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=bKu3S9sZh1c&pp=ygUPbWFycnkgbWUgbWFsdW1h" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 229) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=v8NpdROrYM8&pp=ygULYWFQTSBtYWx1bWE%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 230) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=t_jHrUE5IOk&pp=ygUNRmVsaWNlcyBsb3MgNA%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 231) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=NRmSf9VqrUA&pp=ygUNCUhlcmUgV2l0aCBNZQ%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 232) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=m7Bc3pLyij0&pp=ygUHSGFwcGllcg%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 233) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=cH4E_t3m3xM&pp=ygURd29sdmVzIG1hcnNobWVsbG8%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 234) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=jzD_yyEcp0M&pp=ygUSZnJpZW5kcyBtYXJzaG1lbGxv" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 235) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=ePao0cTGG-o&pp=ygUaYmUga2luZCBtYXJzaG1lbGxvIGhhbHNleSA%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 236) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=T4cdfRohhcg&pp=ygUIS2lzcyB5b3U%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 237) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=fTgJx-zmpM0&pp=ygUHaGFwcGxpeQ%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 238) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=CQXD4cKsPDg&pp=ygUUbWFnaWMgb25lIGRpcmVjdGlvbiA%3D"target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 239) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=Y1xs_xPb46M&pp=ygUXb25lIHRoaW5nIG9uZSBkaXJlY3Rpb24%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 240) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=QJO3ROT-A4E&pp=ygUYV2hhdCBNYWtlcyBZb3UgQmVhdXRpZnVs" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 241) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=AoAm4om0wTs&pp=ygUKUmluZSBPbiBNZQ%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 242) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=bESGLojNYSo&pp=ygUKcG9rZXIgZmFjZQ%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 243) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=wV1FrqwZyKw&pp=ygUNQm9ybiBUaGlzIFdheQ%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 244) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=qrO4YZeyl0I&pp=ygULYmFkIHJvbWVuY2U%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 245) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=wagn8Wrmzuc&pp=ygUFanVkYXM%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 246) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=LOZuxwVk7TU&pp=ygUFdG94aWM%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 247) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=CduA0TULnow&pp=ygUWT29wcyEuLi5JIERpZCBJdCBBZ2Fpbg%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 248) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=rMqayQ-U74s&pp=ygUJV29tYW5pemVy" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 249) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=qzU9OrZlKb8&pp=ygUTVGlsbCB0aGUgV29ybGQgRW5kcw%3D%3D" target="_blank"><%= row.song_name %></a></td>
        <% } else if (row.id === 250) { %> <!-- IDが39の場合のリンク -->
          <td><a href="https://www.youtube.com/watch?v=C-u5WLJ9Yk4&pp=ygUVLi4uQmFieSBPbmUgTW9yZSBUaW1l" target="_blank"><%= row.song_name %></a></td>
        <% } else { %> <!-- その他の場合 -->
          <td><a href="/song/<%= row.id %>"><%= row.song_name %></a></td>
        <% } %>
      </tr>
    <% }); %>
  </table>
</body>
</html>

